<h1>Forkable?</h1>

<div><%= @user.name %></div>

<div><%= image_tag @user.avatar %></div>


<%= image_tag current_user.avatar %>

<%= link_to 'Git Checkout', profile_path(@user) %>

<%= link_to 'Git Reset', repository_path %>

